.blob {
    position: fixed; /* Changed from absolute to fixed */
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    filter: blur(170px);
    pointer-events: none; /* Prevent the blob from intercepting mouse events */
    z-index: -1; /* Ensure the blob is behind other elements */
    background-color: #111F41 !important;
}
.blob:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 130%;
    height: 130%;
    background-color: #111F41;
    /* background: linear-gradient(to right, #fff, cyan); */
    background: linear-gradient(to right,#3c87f7, #3c87f7);
    transform: rotate(0deg);
    animation: rotate 2s infinite linear;
    z-index: -10;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);  
    }
    50% {
        transform: rotate(180deg) scale(1.5);  
    }
    100% {
        transform: rotate(360deg) scale(1); 
    }
}
.light-shadow {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
